<!-- jQuery -->
<script src="../../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../../js/jquery.easing.min.js"></script>
<script src="../../js/jquery.fittext.js"></script>
<script src="../../js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../../js/creative.js"></script>

<!-- Custom js for the sketches -->
<script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/addons/p5.sound.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js"></script>
<script src="../../js/hsluv.min.js"></script>

<!-- 
<script src="../../js/p5.min.js"></script>
<script src="../../js/p5.dom.js"></script>
<script src="../../js/p5.sound.js"></script>
<script src="../../js/dat.gui.min.js"></script>
-->
